*{
    /* background-color: red; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: aqua; */
}

h1{
    color: yellow;
}

/* h2{
    color: green;
} */

.Person > h1,
.Person > h2,
.Person >h3{
    color: aqua;
    background-color: black;
}


#One > h1{
    color: rebeccapurple;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 1px;
}

p{
    color: red;
    /* background-color: olivedrab; */
    background-image: url(./Assets/Spider-man.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.boxes{
    width: 200px;
    height: 200px;
    background-color: hotpink;
    /* padding-left: 50px;
    padding-top: 30px; */
    padding: 10px 20px 40px 50px;
    border: 10px solid black;
    /* border-top: 5px solid red; */
    /* margin-top: 50px;
    margin-left: 70px; */
    margin: 10px 30px 50px 70px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,minmax(200px,1fr));
}

.para{
    background-color: red;
    padding: 20px;
    color: white;
}

.outerbox{
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(3,1fr);
    /* column-gap: 10px;
    row-gap: 20px; */
    gap: 20px;
    grid-template-rows: 100px 200px 100px;
}

.square{
    background-color: green;
    font-size: 50px;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
}

.square1{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: span 3;
}

.square2{
    grid-row: span 2;
}

.layout > div{
    border: 1px solid black;
    background-color: coral;
    font-size: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.layout{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: 
    "h h h h h"
    "sb1 m m m sb2"
    "f f f f f";
}

.header{
    grid-area: h;
}

.sidebar1{
    grid-area: sb1;
}

.main{
    grid-area: m;
}

.sidebar2{
    grid-area: sb2;
}

.footer{
    grid-area: f;
}